        /* Общие стили */
h1 {
	color: red;
	font-size: 2.8em;
}

p {
	font-size: 1em;
	text-align: justify;
}

h2, h3,
img + h6, 
h6 + p {
	text-align: center;
}

img + h6 {
	color: #009688;
}

h6 + p {
	color: #5f5f5f;
}

.container {
	width: 940px;
	margin: 20px auto;
	padding: 20px;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1), -1px -1px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: #fff;
}

span {
	display: block;
}

.round	{
	width: 90%;
	border-radius: 50%;
	box-shadow: 2px 2px 10px;
	border: 5px solid #f0f0f0;
	margin-left: 10%;
}

img {
	max-width: 100%;
	height: auto;
}

audio,
video {
	width: 100%;
	height: auto;
}

.article-title {
	text-align: center;
	text-transform: uppercase;
	color: darkblue;
	font-family: "Franklin Gothic Medium", Arial, sans-serif;
}

header {
	background-color: #eeecec;
	padding: 18px;
	text-align: center;
}

nav {
	overflow: hidden;
	background-color: rgb(34, 33, 33);
}

nav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font: bold 13px Georgia, serif;
}

nav a:hover {
	background-color: rgb(202, 202, 202);
	color: black;
}

nav a:active {
	background: #55ddff; /* Старые браузеры */
    background: radial-gradient(ellipse, #55ddff, #0081b5);
}

* {
	box-sizing: border-box;
}

section {
	padding: 10px;
}

.tableHeader {
	font-family: "Courier New", serif;
	font-size: 1.9em;
	color: purple;
	height: 60px;
}

.row:after {
	display: table;
	content: "";
	clear: both;
}

.column {
	float: left;
	width: 33.33%;
	padding: 20px;
}

.uno-column {
	width: 100%;
}

.dos-columnos {
	width: 50%;
}

@media screen and (max-width:800px) {
	.column 
	{
		width: 100%;
	}
}

footer {
	background-color: #eeecec;
	padding: 16px;
	text-align: center;
}

canvas {
	border: 2px solid #a7a3a3;
}

.canvas {	
	margin-bottom: 20px;
}

.svg-image {
	border: 2px solid black;
	box-shadow: 6px 6px yellow,
			8px 8px black,
			14px 14px yellow;
}

.blockInCenter {
	width: 800px;
	margin: 0 auto;
}

.map {
	padding: 0;
	border: #5f5f5f solid 10px;
}

/*      Стили формы      */
form {
	font-family: Georgia, serif;	
}

.form-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.6em;
	color: grey;
}

.left {
	display: inline-block;
	float: left;
	margin-right: 180px;
}

.left:last-child {
	margin-right: 0;
}

form label {
	color: blue;
}

form input, 
textarea, 
select {
	border-radius: 15px;
	padding: 5px;
}

input[type="submit"] {
	width: 250px;
	color: blue;
	font-weight: bold;
	font-size: 20px;
	min-height: 50px;
	font-family: 'Pacifico', cursive, sans-serif;
	text-transform: uppercase;
}

.pop-margins {
	margin-right: 35px;
}

.pop-margins:last-child {
	margin-right:0;
}

form span {
	color: blue;
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup--open {
  display: block;
}

.popup__button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  font-size: 0;
  background: none;
  border: 0;
}

.popup__button:after,
.popup__button:before {
  content: "";
  position: absolute;
  right: 0;
  top: 20px;
  width: 26px;
  height: 6px;
  margin: -13px -3px;
  color: #bfbfbf;
  background-color: currentColor;
}

.popup__button:before {
  transform: rotate(45deg);
}

.popup__button:after {
  transform: rotate(-45deg);
}

.popup__button:hover,
.popup__button:focus {
  color: #9e9e9e;
}

.popup__button:active {
  color: #4a4a4a;
}

.popup-content {
  position: relative;
  width: 680px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 40px 35px;
  background-color: #ffffff;
  box-shadow: -1px 5px 12px 0 rgba(89, 90, 90, 0.3);
  z-index: 2;
}

.popup:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

@media screen and (max-width: 800px) {
	.popup {
		width: 100%;
	}
	
	.popup-content, textarea {
		width: 97%;
	}
	
	input[type="text"], input[type="password"] { 
		width: 180%;
		min-height: 35px;
	}
	
	input[type="date"], select {
		width: 175%;
		min-height: 35px;
	}	
}